

$colorWhite:#fff;
$ColorWoodSmoke:#111117;
$colorBlueLagon:#038484;
$colorGravel:#bcbebc;
$colorPumice:#504f51;
$colorSantaFe:#ae795e;
$colorFountainBlue:#52bbba;
$colorAnakiwa:#8fffff;


$MCcolorShark:#1d2023;
$MCcolorGrayNurse:#bcbebc;
$MCcolorSeaNymph:#6ca0a0;
$MCcolorSmaltBlue:#56808e;
$MCcolorSantaFe:#a96b53;


$MDcolorElm:#1c918e;
$MDcolorSantaFe:#ab6b53;
$MDcolorBigStone:#122439;
$MDcolorMasala:#443c3b;
$MDcolorAkaroa:#d6b9a3;



